.container {
  padding: 0.5rem;
  // center children
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);

  p {
    max-width: 400px;
  }
}

.loginForm {
  input {
    width: 300px;
    display: block;
    margin-bottom: .72rem;
  }
}