.container {
  .centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.link {
  color: #61dafb;
}

.header {
  background-color: #282c34;
  color: white;
  min-height: 80px;
}

.main {
  min-height: 600px;
}
.footer {
  background: red;
  min-height: 100px;
}