.container {
  text-align: center;
}

.link {
  color: #61dafb;
}

.header {
  background-color: #282c34;
  color: white;
  min-height: 80px;
}

.main {
  min-height: 600px;
}
.footer {
  background: red;
  min-height: 100px;
}